nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;   
}

nav img {
    height: 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
}